<!DOCTYPE html>
<html>
	
	<!-- Includes da Aplicação -->
	<% include partials/includes.ejs %>

<body>
	<h1 style="padding-inline-start: 2px;">Cadastro de Pessoas.</h1>

	<!-- Navegação-->
	<% include partials/nav.ejs %>

	<!-- Tabela para Alteração -->
	<% include partials/tabelaAlterar.ejs %>

</body>
</html>
