<!DOCTYPE html>
<html>
	
	<!-- Includes da Aplicação -->
	<% include partials/includes.ejs %>

<body onload="MudarPagina()">
	<h1 style="padding-inline-start: 2px;">Cadastro de Pessoas.</h1>

	<!-- Navegação-->
	<% include partials/nav.ejs %>

	<!-- Tabela de Cadastro -->
	<% include partials/tabelaCadastro.ejs %>

	<!-- Buscar Pessoa-->
	<% include partials/buscarPessoa.ejs %>

	<!-- Tabela Pessoas -->
	<% include partials/tabelaPessoa.ejs %>
</body>
</html>
