<div>
    <ul style="list-style-type: none; padding-inline-start: 2px;">
        <li><a onclick="ConfirmarDados()">Refazer Dados Iniciais</a></li>
        <li><a class="navHome0" href="/">Voltar para a Home</a></li>
    </ul>
</div>
